In [29]:
import pandas as pd
data = pd.read_csv('../Resources/Auto_Theft_Open_Data.csv')
data2 = pd.read_csv('../Resources/Assault_Open_Data.csv')
data3 = pd.read_csv('../Resources/Bicycle_Thefts_Open_Data.csv')
data4 = pd.read_csv('../Resources/Break_and_Enter_Open_Data.csv')
data5 = pd.read_csv('../Resources/Homicides_Open_Data_ASR_RC_TBL_002.csv')
data6 = pd.read_csv('../Resources/Robbery_Open_Data.csv')
data7 = pd.read_csv('../Resources/Shooting_and_Firearm_Discharges_Open_Data.csv')
data8 = pd.read_csv('../Resources/Theft_From_Motor_Vehicle_Open_Data.csv')
data9 = pd.read_csv('../Resources/Theft_Over_Open_Data.csv')

### Don't be broken

In [30]:
df = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)
df5 = pd.DataFrame(data5)
df6 = pd.DataFrame(data6)
df7 = pd.DataFrame(data7)
df8 = pd.DataFrame(data8)
df9 = pd.DataFrame(data9)

In [31]:
frames = [df,df2,df3,df4,df5,df6,df7,df8,df9]

In [32]:
result = pd.concat(frames)

In [33]:
result.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', 'UCR_CODE',
       'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84',
       'PRIMARY_OFFENCE', 'BIKE_MAKE', 'BIKE_MODEL', 'BIKE_TYPE', 'BIKE_SPEED',
       'BIKE_COLOUR', 'BIKE_COST', 'STATUS', 'HOMICIDE_TYPE', 'OCC_TIME_RANGE',
       'DEATH', 'INJURIES', 'F_num_removed'],
      dtype='object')

### Auto Theft Data

In [34]:
columns_to_keep = ['EVENT_UNIQUE_ID','HOOD_158','NEIGHBOURHOOD_158','X', 'Y','REPORT_YEAR', 'REPORT_MONTH','OFFENCE','MCI_CATEGORY' ]

In [35]:
filtered_df = result[columns_to_keep]

In [36]:
filtered_df = filtered_df[filtered_df['HOOD_158'] != 'NSA']

In [37]:
filtered_df

,EVENT_UNIQUE_ID,HOOD_158,NEIGHBOURHOOD_158,X,Y,REPORT_YEAR,REPORT_MONTH,OFFENCE,MCI_CATEGORY
0,GO-20141263217,43,Victoria Village,-79.306757,43.734652,2014.0,January,Theft Of Motor Vehicle,Auto Theft
1,GO-20141262914,123,Cliffcrest,-79.236189,43.721847,2014.0,January,Theft Of Motor Vehicle,Auto Theft
2,GO-20141262837,159,Etobicoke City Centre,-79.529478,43.618472,2014.0,January,Theft Of Motor Vehicle,Auto Theft
3,GO-20141265795,9,Edenbridge-Humber Valley,-79.516814,43.683438,2014.0,January,Theft Of Motor Vehicle,Auto Theft
4,GO-20141265947,2,Mount Olive-Silverstone-Jamestown,-79.595364,43.744281,2014.0,January,Theft Of Motor Vehicle,Auto Theft
...,...,...,...,...,...,...,...,...,...
10740,GO-20222558987,23,Pelmo Park-Humberlea,-79.533497,43.733619,2022.0,December,Theft Over,Theft Over
10741,GO-20222559198,95,Annex,-79.391279,43.671127,2022.0,December,Theft From Motor Vehicle Over,Theft Over
10742,GO-20229051758,38,Lansing-Westgate,-79.412053,43.763068,2022.0,December,Theft From Motor Vehicle Over,Theft Over
10743,GO-20222560989,50,Newtonbrook East,-79.418131,43.790247,2022.0,December,Theft From Motor Vehicle Over,Theft Over
10744,GO-20222561610,156,Bendale-Glen Andrew,-79.258766,43.773233,2022.0,December,Theft Over,Theft Over

In [38]:
filtered_df.to_csv('../Resources/Final_Dataset.csv')

In [39]:
df3.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'PRIMARY_OFFENCE', 'OCC_DATE',
       'OCC_YEAR', 'OCC_MONTH', 'OCC_DOW', 'OCC_DAY', 'OCC_DOY', 'OCC_HOUR',
       'REPORT_DATE', 'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DOW',
       'REPORT_DAY', 'REPORT_DOY', 'REPORT_HOUR', 'DIVISION', 'LOCATION_TYPE',
       'PREMISES_TYPE', 'BIKE_MAKE', 'BIKE_MODEL', 'BIKE_TYPE', 'BIKE_SPEED',
       'BIKE_COLOUR', 'BIKE_COST', 'STATUS', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84'],
      dtype='object')

In [40]:
bike_columns = ['EVENT_UNIQUE_ID','HOOD_158','NEIGHBOURHOOD_158','X','Y','PRIMARY_OFFENCE','REPORT_YEAR','REPORT_MONTH']

In [41]:
df5.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_YEAR',
       'OCC_MONTH', 'OCC_DAY', 'OCC_DOW', 'OCC_DOY', 'DIVISION',
       'HOMICIDE_TYPE', 'HOOD_158', 'NEIGHBOURHOOD_158', 'HOOD_140',
       'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84'],
      dtype='object')

In [42]:
homicide_columns = ['EVENT_UNIQUE_ID','HOOD_158', 'NEIGHBOURHOOD_158','X', 'Y','OCC_YEAR','OCC_MONTH']

In [43]:
df7.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'OCC_DATE', 'OCC_YEAR',
       'OCC_MONTH', 'OCC_DOW', 'OCC_DOY', 'OCC_DAY', 'OCC_HOUR',
       'OCC_TIME_RANGE', 'DIVISION', 'DEATH', 'INJURIES', 'HOOD_158',
       'NEIGHBOURHOOD_158', 'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84',
       'LAT_WGS84'],
      dtype='object')

In [44]:
shooting_columns = ['EVENT_UNIQUE_ID','HOOD_158','NEIGHBOURHOOD_158','X', 'Y','OCC_YEAR','OCC_MONTH']

In [45]:
df9.columns

Index(['X', 'Y', 'OBJECTID', 'EVENT_UNIQUE_ID', 'REPORT_DATE', 'OCC_DATE',
       'REPORT_YEAR', 'REPORT_MONTH', 'REPORT_DAY', 'REPORT_DOY', 'REPORT_DOW',
       'REPORT_HOUR', 'OCC_YEAR', 'OCC_MONTH', 'OCC_DAY', 'OCC_DOY', 'OCC_DOW',
       'OCC_HOUR', 'DIVISION', 'LOCATION_TYPE', 'PREMISES_TYPE', 'UCR_CODE',
       'UCR_EXT', 'OFFENCE', 'MCI_CATEGORY', 'HOOD_158', 'NEIGHBOURHOOD_158',
       'HOOD_140', 'NEIGHBOURHOOD_140', 'LONG_WGS84', 'LAT_WGS84'],
      dtype='object')

In [46]:
auto_theft = df[columns_to_keep]
auto_theft = auto_theft[auto_theft['HOOD_158'] != 'NSA']

assault = df2[columns_to_keep]
assault = assault[assault['HOOD_158'] != 'NSA']

bike_theft = df3[bike_columns]
bike_theft = bike_theft[bike_theft['HOOD_158'] != 'NSA']

break_and_enter = df4[columns_to_keep]
break_and_enter = break_and_enter[break_and_enter['HOOD_158'] != 'NSA']

homicide = df5[homicide_columns]
homicide = homicide[homicide['HOOD_158'] != 'NSA']

robbery = df6[columns_to_keep]
robbery = robbery[robbery['HOOD_158'] != 'NSA']

shooting = df7[shooting_columns]
shooting = shooting[shooting['HOOD_158'] != 'NSA']

theft_from_vehicle = df8[columns_to_keep]
theft_from_vehicle = theft_from_vehicle[theft_from_vehicle['HOOD_158'] != 'NSA']

theft_over = df9[columns_to_keep]
theft_over = theft_over[theft_over['HOOD_158'] != 'NSA']

In [47]:
auto_theft['HOOD_158'] = auto_theft['HOOD_158'].astype(int)
assault['HOOD_158'] = assault['HOOD_158'].astype(int)
bike_theft['HOOD_158'] = bike_theft['HOOD_158'].astype(int)
break_and_enter['HOOD_158'] = break_and_enter['HOOD_158'].astype(int)
homicide['HOOD_158'] = homicide['HOOD_158'].astype(int)
robbery['HOOD_158'] = robbery['HOOD_158'].astype(int)
shooting['HOOD_158'] = shooting['HOOD_158'].astype(int)
theft_from_vehicle['HOOD_158'] = theft_from_vehicle['HOOD_158'].astype(int)
theft_over['HOOD_158'] = theft_over['HOOD_158'].astype(int)

In [48]:
auto_theft = auto_theft.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
assault = assault.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
bike_theft = bike_theft.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
break_and_enter = break_and_enter.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
homicide = homicide.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
robbery = robbery.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
shooting = shooting.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
theft_from_vehicle = theft_from_vehicle.drop_duplicates(subset=['EVENT_UNIQUE_ID'])
theft_over = theft_over.drop_duplicates(subset=['EVENT_UNIQUE_ID'])

In [49]:
shooting = shooting.rename(columns={'OCC_YEAR':'REPORT_YEAR','OCC_MONTH':'REPORT_MONTH'})
homicide = homicide.rename(columns={'OCC_YEAR':'REPORT_YEAR','OCC_MONTH':'REPORT_MONTH'})

In [58]:
shooting.head()

,EVENT_UNIQUE_ID,HOOD_158,NEIGHBOURHOOD_158,X,Y,REPORT_YEAR,REPORT_MONTH
0,GO-2004397105,142,Woburn North,-79.234955,43.781528,2004,May
1,GO-2004600109,1,West Humber-Clairville,-79.618218,43.733547,2004,July
2,GO-2004311851,24,Black Creek,-79.518759,43.769157,2004,May
3,GO-2004736004,168,Downtown Yonge East,-79.378870,43.660665,2004,December
4,GO-2004303455,146,Malvern East,-79.212435,43.812075,2004,April

In [50]:
auto_theft.to_csv('../Resources/auto_theft_filtered.csv',index=False)
assault.to_csv('../Resources/assault_filtered.csv',index=False)
bike_theft.to_csv('../Resources/bike_theft_filtered.csv',index=False)
break_and_enter.to_csv('../Resources/break_and_enter_filtered.csv',index=False)
homicide.to_csv('../Resources/homicide_filtered.csv',index=False)
robbery.to_csv('../Resources/robbery_filtered.csv',index=False)
shooting.to_csv('../Resources/shooting_filtered.csv',index=False)
theft_from_vehicle.to_csv('../Resources/theft_from_vehicle_filtered.csv',index=False)
theft_over.to_csv('../Resources/theft_over_filtered.csv',index=False)

In [51]:
neighbourhood_df = pd.DataFrame()
hoodNum = filtered_df['HOOD_158'].unique()
hoodName = filtered_df['NEIGHBOURHOOD_158'].unique()

In [52]:
filtered_df.dtypes

EVENT_UNIQUE_ID       object
HOOD_158              object
NEIGHBOURHOOD_158     object
X                    float64
Y                    float64
REPORT_YEAR          float64
REPORT_MONTH          object
OFFENCE               object
MCI_CATEGORY          object
dtype: object

In [53]:
neighbourhood_df['HOOD_158'] = hoodNum

In [54]:
neighbourhood_df['NEIGHBOURHOOD_158'] = hoodName

In [55]:
neighbourhood_df['HOOD_158'] = neighbourhood_df['HOOD_158'].astype(int)

In [56]:
neighbourhood_df.to_csv('../Resources/neighbourhood.csv', index=False)

In [57]:
assault[assault['EVENT_UNIQUE_ID'] == 'GO-20141260264']

,EVENT_UNIQUE_ID,HOOD_158,NEIGHBOURHOOD_158,X,Y,REPORT_YEAR,REPORT_MONTH,OFFENCE,MCI_CATEGORY
8,GO-20141260264,143,West Rouge,-79.132919,43.780412,2014,January,Assault,Assault